IMAGE001 JPG C:\\fond.jpg
STRINGTABLE
{
//EN
 1,  "Use EXIF"
 2,  "Select None"
 3,  "Select All"
 4,  "Refresh"
 5,  "Rename"
 6,  "Edit"
 7,  "Help"
 8,  "Web Site"
 9,  "Choose Language"
 10  "Please enter new filename patern.\n\n(Specials caracters)\n*\t-> Numerical\n?\t-> Date\n%\t-> Time\n"
 11, "Create thumbnails"
 12, "Select all files"
 13, "Get dates"
 14, "Sort numerical order"
 15, "Sort Same date"
 16, "Rename files"
 17, "file"
 18, "selected"
 19, "selected"
 20, "Wizard"
 21, "Prefix :"
 22, "Date"
 23, "Time"
 24, "Numerical"
 25, "Generate filename pattern"
 26, "Pattern"
 27, "Preview filenames"
 28, "Cancel"
 29, "Rename"

 //FR

 51, "Utiliser EXIF"
 52, "D\351selectionner"
 53, "Tout S\351lectionner"
 54, "Rafraichir"
 55, "Renommer"
 56, "Edition"
 57, "Aide"
 58, "Site Web"
 59, "Changer de langue"
 60, "Entrer le nouveau nom de fichier avec les caract\350res sp\351ciaux\n*\t-> Numerique\n?\t-> Date\n%\t-> Heure\n"
 61, "Cr\351ation miniatures"
 62, "S\351lectionne tout les fichiers"
 63, "R\351cup\350re les dates"
 64, "Classement par ordre num\351rique"
 65, "Classement des dates identiques"
 66, "Renomme les fichiers"
 67, "fichier"
 68, "selectionn\351s"
 69, "selectionn\351"
 70, "Assistant"
 71, "Pr\351fixe :"
 72, "Date"
 73, "Heure"
 74, "Numerique"
 75, "G\351n\351rer le mod\350le de nom de fichier"
 76, "Mod\350le"
 77, "Pr\351visualiser les noms de fichiers"
 78, "Annuler"
 79, "Renommer"
}

